name: Firebase Deploy Functions

env:
  GITHUB_OUTPUT: ${{github.workspace}}/.github/workflows/output.txt
permissions:
  id-token: write # This is required for requesting the JWT
  contents: write # This is required for actions/checkout 

on:
  workflow_call:
    inputs:
      FLAVOUR:
        required: true
        type: string
      runs_on:
        required: false
        type: string
        default: "ubuntu-latest"
      FUNCTIONS:
        required: false
        type: string
        default: ""

jobs:
  deploy:
    runs-on: ${{inputs.runs_on}} # We are using ubuntu to deploy flutter web
    timeout-minutes: 10
    environment: ${{inputs.FLAVOUR}} 
    steps:
    - uses: actions/checkout@v4
    - uses: jsryudev/deploy-firebase-functions@v20.0.1
      with:
        only: ${{ inputs.FUNCTIONS }}
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        FUNCTIONS_DIR: ${{ vars.FIREBASE_FUNCTIONS_DIR }}
        FIREBASE_PROJECT: ${{ vars.FIREBASE_PROJECT_ID }}
  notify:
    if: always() # Ensures this job runs regardless of the completion status of dependent jobs
    needs:
      - deploy
    uses: ./.github/workflows/notification.yml
    secrets: inherit
    with:
      job_status: ${{ needs.deploy.result }}
      workflow: ${{ github.workflow }}
      runs_on: ${{inputs.runs_on}}
